body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0dede;
}
.container {
    background: rgb(188, 224, 239);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(100, 0, 0, 0.1);
    text-align: center;
}
.input-group, .options {
    margin: 10px 0;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}